<%= form_for [:admin, @item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :rows => 4 %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :uom, 'Priced per...(each, lb, oz, etc)' %><br />
    <%= f.text_field :uom %>
  </p>
  <p>
  <%= f.label :sold_per, 'Sold per...pack(s), steak(s), chicken(s), pail(s), lb(s), etc.</br>(This is what will display next to the quantity ordered)'.html_safe %><br />
    <%= f.text_field :sold_per %>
  </p>
  <p>
    <%= f.label :is_stocked, 'In stock?' %><br />
    <%= f.check_box :is_stocked %>
  </p>
  <p>
    <%= f.label :is_limited, 'Limited availability?' %><br />
    <%= f.check_box :is_limited %>
  </p>
  <p>
    <%= f.label :is_seasonal, 'Seasonal item?' %><br />
    <%= f.check_box :is_seasonal %>
  </p>
  <%= f.hidden_field :category_id %>
  <p><%= f.submit %></p>
<% end %>
