<% if @orders.size > 0 %>
  <h1><%= "#{@orders.first.batch.pickup.name} Order (Batch #{@orders.first.batch.id})" %></h1>

  <% if @orders.first.batch.deadline %>
    <p>(Orders submitted before <%= @orders.first.batch.deadline.to_s(:pretty) %>)</p>
  <% end %>

  <% @orders.each do |order| %>
    <h3><%= "#{order.user.last_name}, #{order.user.first_name}" %></h3>

    <p style="<%= 'color: red; font-weight: bold;' if order.batch.deadline && order.created_at > order.batch.deadline -%>">
      Ordered <%= order.created_at.to_s(:pretty) %>
    </p>
    <% if order.notes.present? %>
      <div style="color: green;">
        Notes
        <%= simple_format order.notes %>
      </div>
    <% end %>

    <%= hidden_field_tag :order_id, order.id %>

    <p>
    <% order.line_items.each do |line_item| %>
      <%= line_item.quantity %> <%= line_item.sold_per %> <%= line_item.name %>
      <span style="font-size: 11px; color: red;"><%= " (Limited availability)" if line_item.is_limited %></span>
    <br />
    <% end %>
    </p>
  <% end %>
<% else %>
  <p>No orders in this batch</p>
<% end %>

