<p>Welcome back, <%= current_user.first_name %>.</p>

<% if is_admin? %>
  As an admin, you may manage:
  <ul>
    <li><%= link_to 'most recent orders', admin_batches_path %></li>
    <li>Next order deadlines:
      <ul>
        <% Pickup.active.all.each do |pickup| %>
          <li><%= link_to(
                    "#{pickup.name}: #{
                      Batch.current(pickup.id).deadline ? Batch.current(pickup.id).deadline.to_s(:pretty) : ' none set'
                    }",
                    admin_batches_path ) -%>
          </li>
        <% end %>
      </ul>
    <li><%= link_to 'the items available from each farm', admin_vendors_path %></li>
    <li><%= link_to 'users who access the web site', admin_users_path %></li>
  </ul>

  <p>The current server time is: <%= DateTime.now.to_s(:pretty) %></p>

<% end %>

<% if Batch.current(current_user.pickup_id).deadline && Batch.current(current_user.pickup_id).deadline < DateTime.now %>
  <p>The <span style="color: red;">deadline has passed</span> to place your order for the upcoming pickup. Orders placed
    now will be available on the following pickup date.</p>
<% elsif Batch.current(current_user.pickup_id).deadline %>
  <p>The deadline to place orders for the next pickup is: <%= Batch.current(current_user.pickup_id).deadline.to_s(:pretty) %></p>
<% end %>

<% if !current_user.is_member? %>
  <p>We have not yet reviewed your membership status. Please give us a few days.</p>
<% else %>
  <p>Are you ready to <%= link_to 'place an order', new_member_order_path %>?</p>
<% end %>

<% if Batch.current(current_user.pickup_id).manager_notes.present? %>
  <h2>Coop Manager Notes for <%= Batch.current(current_user.pickup_id).pickup.name -%> pickups</h2>

  <%= simple_format Batch.current(current_user.pickup_id).manager_notes %>
<% end %>

<h2>Bulk Ordering</h2>

<p>Bulk freezer meat is available for purchase at greatly discounted rates. For more information, please email <%= Manager.full_name -%> at <%= link_to Manager.email, "mailto:#{Manager.email}" %></p>

<h2>Frequently Asked Questions (FAQ)</h2>

<p>Be sure to read the <%= link_to 'frequently asked questions', page_path('faq') %> page. Even if you've been with us for a while, you'll learn a few things!</p>

<h2>Annual membership fee</h2>

<p>When your annual membership fee is due, you can pay online via PayPal. You have two options for paying online:

<table style="border: none;">
  <tr>
    <td style="width: 250px; text-align:center;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <INPUT TYPE="hidden" NAME="cmd" VALUE="_ext-enter">
      <INPUT TYPE="hidden" NAME="redirect_cmd" VALUE="_xclick-subscriptions">
      <input type="hidden" name="business" value="<%= Manager.email -%>">
      <input type="hidden" name="item_name" value="Fry Farms Coop - Annual Membership">
      <input type="hidden" name="item_number" value="fryfarms-oneyear">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="http://www.fryfarmscoop.com/users/sign_in">
      <input type="hidden" name="no_note" value="1">
      <input type="image" src="https://www.paypal.com/images/x-click-but20.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
      <input type="hidden" name="a3" value="30.00">
      <input type="hidden" name="p3" value="1">
      <input type="hidden" name="t3" value="Y">
      <input type="hidden" name="src" value="1">
      <input type="hidden" name="sra" value="1">
      <input type="hidden" name="custom" value="<%= current_user.email %>">
      </form>
      <p>Automatically pay $30 every year
    </td>
    <td style="width: 250px; text-align:center;">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <INPUT TYPE="hidden" NAME="cmd" VALUE="_xclick">
      <INPUT TYPE="hidden" NAME="redirect_cmd" VALUE="_xclick">
      <input type="hidden" name="business" value="<%= Manager.email -%>">
      <input type="hidden" name="item_name" value="Fry Farms Coop - Membership fee">
      <input type="hidden" name="item_number" value="fryfarms-oneyear">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="return" value="http://www.fryfarmscoop.com/users/sign_in">
      <input type="image" src="https://www.paypal.com/images/x-click-but01.gif" border="0" name="submit" alt="Make payments with PayPal - it\'s fast, free and secure!">
      <input type="hidden" name="amount" value="30.00">
      <input type="hidden" name="custom" value="<%= current_user.email %>">
      </form>
      <p>One-time $30 payment
    </td>
  </tr>
</table>
