<% title @title %>
<p class="subtitle">Your source for grass-based organic meat and more</p>

<p>We are committed to outstanding customer service. Our goal is to provide you with the highest quality products, while remaining personable, as only a small farm can do. </p>

<h2>About us</h2>

<p>The farm has been operating organically since 1974 and we bought it from Dad in 2004. We were driven to grass-based farming by our desire for a healthy family, and to provide others with access to truly healthy food. </p>

<p>To us, being "organic" isn't enough. Our animals are raised on pasture, eating greens and soaking in the sunshine. Since our animals are fed a natural diet, they don't need medications. On our farm, genetically modified products and other prepared feeds are a strict no-no. </p>

<div style="text-align: center">
  <div style="margin: 0px auto">
    <%= image_tag 'jersey2.jpg' %> &nbsp;
    <%= image_tag 'pig.jpg'     %> &nbsp;
    <%= image_tag 'farm.jpg'    %> &nbsp;
  </div>
</div>

<p>Our biggest focus is on our littlest livestock, the microbial life in our soil. Animals can only be as healthy as the plants they consume, and the plants they consume can only be as healthy as the soil they grow on. At Fry Farms, we put emphasis on taking care of the soil. Applying the correct balance of minerals to enhance the microbial life is one step in doing that. Microbes, in return, work for us by helping the plants absorb nutrients. No herbicides, insecticides or chemical fertilizers are used since they kill the life in the soil.</p>

<h2>Beef</h2>

<p>Our beef, the Scottish Highland and Rotokawa Devons are Heritage breeds. They are grass-fed and grass-finished and are moved onto fresh pasture daily, except for the coldest months of the winter. Hay is harvested for them to feed on during the winter.</p>

<h2>Pork</h2>

<p>Somewhere behind the barn or in the wood lot, you can find our pigs grunting happily as they go about "plowing" with their noses. Like the cows, they too are rotated routinely across their grazing lot. Along with their diet of grasses, roots, grubs, etc. they are given organic corn.</p>

<div style="text-align: center">
  <div style="margin: 0px auto">
    <%= image_tag 'jersey.jpg'   %> &nbsp;
    <%= image_tag 'chicken.jpg'  %> &nbsp;
    <%= image_tag 'chicken3.jpg' %> &nbsp;
  </div>
</div>

<h2>Poultry</h2>

<p>Broilers are raised in floor-less, portable pens. They are partially covered to provide them some shade and refuge from the rain, while poultry netting allows them plenty of sunshine. Their pens protect them from predators. The pens are moved to fresh pasture daily, so they can consume plenty of grass and bugs along with their organic feed.</p> 

<p>Turkeys are raised in the same manner, except that they have access to the whole field once they outgrow the pens.</p>

<p>In the same field as the cows, you will see our egg mobile surrounded by the laying hens and a few roosters. It is also moved on a regular basis so that the hens have fresh pasture and lots of good grubs to eat. In the wintertime, it is parked inside of a shed, but still allows them to roam outside.</p>

<p>For more information about the Fort Wayne Fry Farms Co-op, please contact Lauren Andrews, Co-op Manager, at <%= link_to 'fryfarms@hotmail.com' %></p>
