<%= form_for [:admin, @batch] do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= f.label :manager_notes, "Manager notes for this pickup location" %><br />
    <%= f.text_area :manager_notes, :cols => 80, :rows => 8 %>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
